Package: ddnet
Version: 19.8.2
Section: games
Priority: optional
Architecture: arm64
Depends: libc6, libstdc++6, libgcc-s1, libfreetype6, libcurl4, libgl1, libgles2, libegl1, libglew2.2, libglib2.0-0, libjsonparser1.1, libnotify4, libogg0, libopus0, libopusfile0, libpng16-16, libpnglite0, libsdl2-2.0-0, libsqlite3-0, libssl3, libwavpack1, zlib1g, libwayland-client0, libwayland-egl1, libxkbcommon0
Maintainer: Juan Pablo Lozano <libredeb@gmail.com>
Description: Cooperative technical platformer based on Teeworlds (Optimized Client)
 DDraceNetwork is a Teeworlds modification with unique cooperative 
 gameplay. Help each other through custom maps with up to 64 players. 
 This specific package includes a lightweight client optimized for 
 Wayland and OpenGL on ARM devices.
