Package: marathon2-alephone
Version: 1.11
Section: games
Priority: optional
Architecture: arm64
Depends: libboost-all-dev, libsdl2-2.0-0, libsdl2-image-2.0-0, libsdl2-net-2.0-0, libsdl2-ttf-2.0-0, libsndfile1, libspeexdsp1, libzzip-0-13, libavcodec59 | libavcodec58, libopenal1, libcurl4
Maintainer: Juan Pablo Lozano <libredeb@gmail.com>
Description: Marathon 2: Durandal
 Is the critically acclaimed sequel to Bungie’s sci-fi masterpiece.
 As a cybernetic Security Officer, you are abducted by the
 rogue AI Durandal to the distant planet Lh'owon.
