menu_background                 1

# Video (Hyperpixel 4.0 XP Square)
videomode                       "Software"
screen_resolution               "720x720"
custom_resolution               ""
use_fullscreen                  1
exclusive_fullscreen            0
render_vsync                    1
uncapped_framerate              0
dsda_fps_limit                  60
dsda_background_fps_limit       35
aspect_ratio_correction         0
integer_scaling                 0
render_screen_multiply          1
render_stretch_hud              2
sdl_video_display_index         0

# Sound (micro amps / stereo speakers, OPL to keep CPU low on Zero 2 W)
sfx_volume                      8
music_volume                    12
snd_samplerate                  44100
snd_channels                    16
snd_midiplayer                  "opl2"
full_sounds                     1

# Gamepad (Arduino Leonardo)
use_game_controller             1
use_mouse                       0
autorun                         1
left_analog_deadzone            6556
right_analog_deadzone           6556
left_trigger_deadzone           6556
right_trigger_deadzone          6556
left_analog_sensitivity_x       480
left_analog_sensitivity_y       0
right_analog_sensitivity_x      0
right_analog_sensitivity_y      0
analog_look_acceleration        0
swap_analogs                    1
invert_analog_look              0

# D-pad analog X = turn (swap_analogs); digital turn unbound so it does not snap
# Fire = A, use = B, strafe = L shoulder, weapons = X/Y, map = Select
input_forward                   173 -1 11 | 173 -1 11 | 173 -1 11
input_backward                  175 -1 12 | 175 -1 12 | 175 -1 12
input_turnleft                  172 -1 -1 | 172 -1 -1 | 172 -1 -1
input_turnright                 174 -1 -1 | 174 -1 -1 | 174 -1 -1
input_fire                      157 -1 0 | 157 -1 0 | 157 -1 0
input_use                       32 -1 1 | 32 -1 1 | 32 -1 1
input_strafe                    0 -1 9 | 0 -1 9 | 0 -1 9
input_prevweapon                0 -1 2 | 0 -1 2 | 0 -1 2
input_nextweapon                0 -1 3 | 0 -1 3 | 0 -1 3
input_map                       9 -1 4 | 9 -1 4 | 9 -1 4
input_menu_enter                13 -1 0 | 13 -1 0 | 13 -1 0
input_menu_backspace            127 -1 1 | 127 -1 1 | 127 -1 1
input_menu_escape               27 -1 6 | 27 -1 6 | 27 -1 6
input_menu_up                   173 -1 11 | 173 -1 11 | 173 -1 11
input_menu_down                 175 -1 12 | 175 -1 12 | 175 -1 12
input_menu_left                 172 -1 13 | 172 -1 13 | 172 -1 13
input_menu_right                174 -1 14 | 174 -1 14 | 174 -1 14
